<div class="topbar-wraper">
    <div class="topbar-content topbar-open" [ngClass]="{'topbar-open':toggleMenu}">
        <div class="flex-grid">
            <div class="col-logo">
                <a routerLink="/">
                    <img src="assets/images/logo.png" class="indrau-logo" />
                </a>
            </div>
            <div class="col-menu" [ngClass]="{'anim-show ':toggleMenu, 'anim-hide':!toggleMenu}">
                <app-menu-links></app-menu-links>
            </div>
            <div class="col-search">
                <app-search-box></app-search-box>
            </div>
            <div class="col-buttons" [ngClass]="{'anim-show ':toggleMenu, 'anim-hide':!toggleMenu}">
                <a routerLink="criar-conta" class="btn btn-secondary">Abrir Minha conta</a>
                <a routerLink="login" class="btn btn-light">Acesse sua conta</a>
            </div>
            <div class="col-btn-menu">
                <button type="button" id="btn-toggle-menu" (click)="toggleMenu = !toggleMenu" class="btn btn-secondary">
                    <fa-icon [icon]="faBars"></fa-icon>
                </button>
            </div>
        </div>
    </div>
</div>