@import '../../variables.scss';
@import '../../animations.scss';

.topbar-wraper {
    width: 100%;
    height: 60px;
}

.topbar-content {
    width: 100%;
    height: 60px;
    position: fixed;
    background-color: var(--color-primary);
}

.indrau-logo {
    width: 50px;
    margin-left: 10px;
}

.flex-grid {
    display: flex;
    flex-wrap: wrap;
    height: 100%;
    justify-content: space-around;
}

.col-logo {
    display: flex;
    width: 80px;
    align-items: center;
    animation: fadein 2s;
}

.col-menu {
    display: flex;
    width: 520px;
    align-items: center;
    animation: fadein 2s;

}

.col-search {
    display: flex;
    width: 240px;
    align-items: center;
    padding-right: 10px;
    animation: fadein 2s;
}

.col-buttons {
    display: flex;
    width: 280px;
    align-items: center;
    justify-content: space-between;
    padding-right: 10px;
    animation: fadein 2s;
}

.col-buttons a {
    font-size: 13px;
    font-weight: bold;
    height: 38px;
    display: flex;
    align-items: center;
}

.col-btn-menu {
    display: none;
}

@keyframes open-menu {
    to {
        height: 60px;
    }

    from {
        height: auto;
    }
}

@media (max-width: $first-breakpoint-width) {
    //topbar-break
    .topbar-content {
        height: 120px;
    }
}

@media (max-width: $mobile-breakpoint-width) {

    .topbar-content {
        min-height: 60px;
        height: 60px;
        overflow: hidden;
        transition: 500ms;
    }

    .flex-grid {
        display: grid;
        grid-template-columns: 80px 1fr 50px;
        grid-template-rows: minmax(60px, auto);
        grid-template-areas:
            "logo search btn-menu"
            "menu menu menu"
            "col-buttons col-buttons col-buttons"
        ;
    }

    .col-logo {
        grid-area: logo;
    }

    .col-search {
        grid-area: search;
        width: 100%;
        justify-content:center;
    }

    .col-btn-menu {
        display: flex;
        justify-content: center;
        align-items: center;
        grid-area: btn-menu;
        animation: fadein 2s;
    }

    .col-menu {
        grid-area: menu;
        width: 100%;
    }

    .col-buttons {
        grid-area: col-buttons;
        width: 100%;
        justify-content: space-around;
        margin-top: 20px;
        margin-bottom: 20px;
    }

    .topbar-open {
        height: 320px;
        transition: 500ms;
    }

    .anim-show {
        animation: scaleup 1s;
    }

    .anim-hide {
        animation: scaledown 1s;
    }
}

@media (max-width: $second-breakpoint-width) {
    //searchbox line down
    .col-logo {
        justify-content: center;
    }
}