<div class="topbar-wraper">
    <div class="topbar-content">
        <div class="flex-grid">
            <div class="col-logo">
                <img src="assets/images/logo.png" class="indrau-logo" />
            </div>
            <div class="col-menu">
                <app-menu-links></app-menu-links>
            </div>
            <div class="col-search">
                <app-search-box></app-search-box>
            </div>
            <div class="col-buttons">
                <button type="button" class="btn btn-secondary">Abrir Minha conta</button>
                <button type="button" class="btn btn-light">Acesse sua conta</button>
            </div>
        </div>
    </div>
</div>

