/* You can add global styles to this file, and also import other style files */

/* Importing Bootstrap SCSS file. */
@import '~bootstrap/scss/bootstrap';


*, ul, li {
    margin: 0px;
    padding: 0px;
}
:root {
    --color-primary: #EC7000;
    --color-primary-hover: #ED7E19;
    --color-secondary: #003399;
    --color-secondary-hover: #012469;
    --color-yellow: #feff01;
    --color-yellow-secondary: #babb02;
}

.btn-primary {
    background-color: var(--color-primary);
    border-color: var(--color-primary);
}

.btn-primary:hover {
    background-color: var(--color-primary-hover);
    border-color: var(--color-primary-hover);
}


.btn-secondary {
    background-color: var(--color-secondary);
    border-color: var(--color-secondary);
    color: var(--color-yellow);
}

.btn-secondary:hover {
    background-color: var(--color-secondary-hover);
    border-color: var(--color-secondary-hover);
    color: var(--color-yellow-secondary);
}